Django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
Pillow>=10.0
django-filter>=23.3
psycopg2-binary>=2.9
gunicorn>=21.2
whitenoise>=6.5
python-dotenv>=1.0
drf-yasg>=1.21  # For Swagger/OpenAPI
dj-database-url>=2.0  # For database URL parsing
pgsql>=2.2
redis>=5.0  # Redis Python client
hiredis>=3.2 # Optional, faster Redis client
django-redis>=5.4  # Django Redis cache backend
celery>=5.3  # For async tasks (optional)
django-celery-beat>=2.5  # For scheduled tasks (optional)
channels>=4.1
channels-redis>=4.2
daphne>=4.1
stripe>=10.0